<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net452" />
  <package id="Ben.Demystifier" version="0.1.4" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net452" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="NLog" version="4.6.1" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net452" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>